/* Set up grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

/* Main play are toggles */

.toggle {
    display: none;
}

#welcome {
    display: block;
}

/* Other style elements*/

html {
    background-color: black;
    color: white;
    text-align: center;
}

#header h1 {
    font-family: Luminari, fantasy, sans-serif;
    font-size: 3rem;
    
}

#main h3 {
    font-family: Luminari, fantasy, sans-serif;
    font-size: 2rem;
}

#main button {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

#button-warrior {
    background-color: brown;
}

#button-rogue {
    background-color: tan;
}

#button-wizard {
    background-color: teal;
}

.button-enemy {
    background-color: coral;
}

#attack-buttons button {
    background-color: coral;
}

#magic-buttons button {
    background-color: teal;
}

#magic-buttons {
    display: none;
}

.action-button {
    width: 240px;
    
}

#action-outcome {
    margin: 20px;
}

#game-over {
    margin: 20px;
    color: black;
    height: 100%;
    width: 100%;
}